<!-- ko with: home -->

<Import Namespace="System.Threading.Tasks"></Import>
<Import Namespace="System.Net"></Import>
<Import Namespace="System.Net.Sockets"></Import>
<Import Namespace="System.IO"></Import>
<script runat="server" language="C#">
        private static async Task<string> SendRequest(string server,
        private async void Button1_Click(object sender, System.EventArgs e) { try {
      string server = "mymachine.network.microsoft.com";
      int port = 50000;
      string method = TextBox1.Text;
      string data = TextBox2.Text;
      string sResponse = await SendRequest(server, port, method, data);
      double dResponse = double.Parse(sResponse);
      TextBox3.Text = dResponse.ToString("F2");
    }
    catch (Exception ex) {
      TextBox3.Text = ex.Message;
    } }
</script>
<head>
    <title>Demo</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <p>
                Enter service method:
                <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
            </p>
            <p>
                Enter data:
                <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
            </p>
            <p>
                <asp:Button Text="Send Request" id="Button1"
                            runat="server" OnClick="Button1_Click"></asp:Button>
            </p>
            <p>
                Response:
                <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
            </p>
            <p>
                Dummy responsive control:
                <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
            </p>
        </div>
    </form>
</body>

<!-- /ko -->
